<link href="cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
<script src="cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="/src/js/api/notifications.js"></script>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      _Author_Link
    </h3>
  </div>
  <div class="panel-body">
    _Panel_Content
  </div>
  <div class="panel-footer">
    Today from GitHub
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      _Author_Link
    </h3>
  </div>
  <div class="panel-body">
    _Panel_Content
  </div>
  <div class="panel-footer">
    Today from Code.Me
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      _Author_Link
    </h3>
  </div>
  <div class="panel-body">
    _Panel_Content
  </div>
  <div class="panel-footer">
    Today from GitHub
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      _Author_Link
    </h3>
  </div>
  <div class="panel-body">
    _Panel_Content
  </div>
  <div class="panel-footer">
    Today from Code.Me
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      _Author_Link
    </h3>
  </div>
  <div class="panel-body">
    _Panel_Content
  </div>
  <div class="panel-footer">
    Today from GitHub
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      _Author_Link
    </h3>
  </div>
  <div class="panel-body">
    _Panel_Content
  </div>
  <div class="panel-footer">
    Today from Code.Me
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      _Author_Link
    </h3>
  </div>
  <div class="panel-body">
    _Panel_Content
  </div>
  <div class="panel-footer">
    Today from GitHub
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      _Author_Link
    </h3>
  </div>
  <div class="panel-body">
    _Panel_Content
  </div>
  <div class="panel-footer">
    Today from Code.Me
  </div>
</div>
hr
ul class="pagination" margin-left="auto" margin-right="auto"
  <li><a href="#"><< Previous</a></li>
  <li><a href="#">Next >></a></li>
<script>
getNotContent();
</script>
